{
  "root": true,
  "extends": ["@maanu-devtools/eslint-config-node"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
