{
  "root": true,
  "extends": ["@maanu-devtools/eslint-config-node"],
  "settings": {
    "import/resolver": {
      "eslint-import-resolver-custom-alias": {
        "alias": {
          "~": "./src"
        },
        "extensions": [".ts", ".tsx"]
      }
    }
  }
}
